<mat-card>
  <mat-card-header>
    <mat-card-title>Authors</mat-card-title>
    <mat-card-subtitle>Create and edit authors</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <bw-authors-management-list
      [authors]="authors.items"
      (editClick)="openEditAuthorModal($event)"
      (deleteClick)="openDeleteAuthorModal($event)"
    ></bw-authors-management-list>
  </mat-card-content>
  <mat-card-actions>
    <mat-paginator
      [length]="authors.total"
      [pageSize]="authors.pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      (page)="onPaginate($event)"
    >
    </mat-paginator>
  </mat-card-actions>
</mat-card>

<button mat-fab (click)="openAddAuthorModal()">
  <mat-icon>add</mat-icon>
</button>
