<mat-card>
  <div class="mat-typography" *ngIf="book">
    <div class="book-container">
      <div class="book-header">
        <img [src]="book.coverImage" />
      </div>
      <div class="book-metadata">
        <h1>{{ book.title }}</h1>

        <a class="link" [routerLink]="['/authors', book.author.id, 'details']">
          <h3>
            {{ book.author.name }}
          </h3>
        </a>
        <p>Price: {{ book.price | currency }}</p>
        <p>ISBN: {{ book.isbn }}</p>
        <p>Date published: {{ book.datePublished | date }}</p>
        <p>Pages: {{ book.pages }}</p>
        <p>Category: {{ book.category.name }}</p>
      </div>
    </div>
    <div class="book-summary">
      <p>
        {{ book.summary }}
      </p>
    </div>
  </div>
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="addToCart(book)">
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
