@import "layout.scss";

:host {
  display: block;
}

section {
  display: flex;
}

bw-categories-tree {
  flex-basis: fit-content;
  max-width: 360px;
}

mat-card {
  margin-left: 12px;
  .books-list {
    display: block;

    .book-list-item-wrapper {
      &:not(:last-of-type) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.17);
      }
    }
  }
}

.paginator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;

  button {
    width: 120px;
  }
}

@include mobile() {
  section {
    display: block;
  }

  mat-card {
    margin-left: 0;
    margin-top: 12px;
  }

  bw-categories-tree {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
  }
}
