<mat-card class="book-reader" *ngIf="canReadBook">
  <bw-ebook-reader
    *ngIf="bookFile"
    [epubUrl]="FILES_URL + bookFile.url"
  ></bw-ebook-reader>

  <ng-container *ngIf="!bookFile">
    <mat-card-content>
      <p>
        This book doesn't have an EPUB file available. Please download one of
        the other available formats and read it offline.
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
      <a [routerLink]="['./..']" mat-button>Go Back</a>
    </mat-card-actions>
  </ng-container>
</mat-card>

<mat-card *ngIf="!canReadBook && !isSubscribed" class="mat-typography">
  <mat-card-content>
    <p>
      You don't have access for reading this book online. Please buy the book or
      subscribe for one of our reading plans and come back.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a [routerLink]="['./..']" mat-button>Go Back</a>
  </mat-card-actions>
</mat-card>

<mat-card *ngIf="!canReadBook && isSubscribed">
  <mat-card-content>
    <p>
      Do you want to read this book online? This will cost you one credit from
      your monthly subscription quota.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <a [routerLink]="['./..']" mat-button>Go Back</a>
    <button mat-button color="primary" (click)="startReading()">
      Start Reading
    </button>
  </mat-card-actions>
</mat-card>
