<div class="mat-typography">
  <header>
    <h2>Categories</h2>
    <button mat-button (click)="selectCategory(null)" *ngIf="selected">
      All
    </button>
  </header>
  <mat-tree
    [dataSource]="dataSource"
    [treeControl]="treeControl"
    class="category-tree"
  >
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <button
          mat-button
          color="primary"
          [disabled]="selected === node.value"
          (click)="selectCategory(node.value)"
        >
          {{ node.value.name }}
        </button>
      </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li>
        <div class="mat-tree-node">
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          <button
            mat-button
            color="primary"
            [disabled]="selected === node.value"
            (click)="selectCategory(node.value)"
          >
            {{ node.value.name }}
          </button>
        </div>
        <ul [class.category-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</div>
