.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    margin-right: 8px;
    font-size: 16px;
    width: auto;
    height: auto;
  }

  user-select: none;
  align-self: flex-start;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 0;
  text-align: center;
  text-decoration: none;
  padding: 8px 12px;
  padding-left: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border-radius: 6px;
  background: linear-gradient(to right, #4facfe, #00cffe);
  margin-bottom: 4px;

  &.green {
    background: linear-gradient(to right, #5fba7d, #29f279);
  }

  &.yellow {
    color: black;
    background: linear-gradient(to right, #ffff66, #ffcbe3);
  }

  &.pink {
    background: linear-gradient(to right, #f17dff, #f7678f);
  }

  &.red {
    background: linear-gradient(to right, #ba4242, #d95656);
  }
}
