html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
  color: unset;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

@import "./themes.scss";
@import "./layout.scss";
@import "./badge.scss";

/** Material Overrides */
button[mat-button],
a[mat-button],
button[mat-raised-button],
a[mat-raised-button] {
  text-transform: uppercase;
}

/** Material Card Overrides */
.mat-card-header .mat-card-title {
  font-size: 21px;
}

.mat-card-header .mat-card-subtitle {
  font-size: 16px;
}

.mat-card-header-text {
  flex: 1;
  width: 100%;
}

/** Display only the first error when there are multiple errors **/
mat-error {
  margin-bottom: 8px;
}

mat-error.mat-error {
  display: none;
}

mat-error.mat-error:first-of-type {
  display: block;
}

mat-icon {
  user-select: none;
}

mat-form-field mat-icon {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.mat-icon.mat-icon-inline {
  width: 1em !important;
  height: 1em !important;
}

.mobile-only {
  @media only screen and (min-width: $tablet-width) {
    display: none !important;
  }
}

.desktop-only {
  @media only screen and (max-width: $tablet-width) {
    display: none !important;
  }
}

.search-box {
  padding-left: 16px;
  display: flex;
  align-items: center;

  mat-form-field {
    flex: 1;
  }
}

.color-primary {
  color: primary-color();
}

.color-accent {
  color: accent-color();
}

.bold {
  font-weight: 500;
  font-size: 1.125em;
}
