:host {
  display: block;
}

mat-form-field {
  display: block;
}

mat-slide-toggle:not(:last-of-type) {
  margin-right: 12px;
}

.cover-image-field {
  display: flex;
}

.flex-1 {
  flex: 1 !important;
}

section {
  padding-top: 16px;
  padding-bottom: 16px;
}

mat-list-item {
  .file-size {
    font-size: 0.875em;
    opacity: 0.87;
    margin-right: 8px;
  }
  mat-icon {
    opacity: 0.87;
  }
}
