:host {
  display: block;
}

table {
  width: 100%;

  .price {
    font-weight: 500;
  }

  .align-right {
    text-align: right;
  }

  .red {
    color: #f44336;
  }

  .green {
    color: #5fba7d;
  }
}
