:host {
  display: block;
}

mat-list-item {
  .plan-name {
    font-size: 1.33em;
  }

  .price {
    font-weight: 500;
  }

  h4 {
    margin-top: 8px !important;
    font-size: 1em !important;
  }
}
