<section class="mat-typography">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Administration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a
          [routerLink]="['./category-management']"
          routerLinkActive="active"
          mat-button
          >Categories</a
        >
        <a
          [routerLink]="['./books-management']"
          routerLinkActive="active"
          mat-button
          >Books</a
        >
        <a
          [routerLink]="['./authors-management']"
          routerLinkActive="active"
          mat-button
          >Authors</a
        >
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</section>
