<section class="mat-typography">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Administration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a [routerLink]="['./category']" mat-list-item>Categories</a>
        <a [routerLink]="['./books']" mat-list-item>Books</a>
        <a [routerLink]="['./authors']" mat-list-item>Authors</a>
        <a [routerLink]="['./subscription-plans']" mat-list-item>
          Subscription Plans
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</section>
