<div class="book">
  <a [routerLink]="['./', book.id, 'details']">
    <img [src]="book.coverImage" [alt]="book.title" />
  </a>
  <div class="book-content">
    <a [routerLink]="['./', book.id, 'details']" class="book-header link">
      <h2 class="mat-headline">{{ book.title }}</h2>
      <h3 class="mat-subheading-2">{{ book.author.name }}</h3>
    </a>
    <div class="book-actions">
      <span class="price">{{ book.price | currency }}</span>
      <button
        mat-raised-button
        color="accent"
        (click)="onBuyPressed()"
        [disabled]="!canAddToCart"
        *ngIf="!isOwned"
      >
        <mat-icon>add_shopping_cart</mat-icon>
        <span>
          Add to cart
        </span>
      </button>
    </div>
  </div>
</div>
