// Import theming functions
@import "~@angular/material/theming";
@import "color-pallete.scss";
@import "layout.scss";

:host {
  display: block;
  margin: 8px;
  border-radius: 4px;
  box-sizing: border-box;
  border: 0;
}

.book {
  $height: 128px;
  $padding: 16px;

  border-radius: 4px;
  box-sizing: border-box;

  display: flex;
  height: $height;

  img {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    max-height: $height;
    display: block;
  }

  .book-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    .book-header {
      flex: 1;
      padding: $padding;
      padding-top: 0;

      h2 {
        font-size: 1.375em;
        margin-bottom: 0;
        line-height: 1em;
      }
    }

    .action {
      align-self: flex-end;
      padding-right: 8px;
      padding-bottom: 8px;

      button,
      a {
        min-width: 120px;
        text-transform: uppercase;

        mat-icon {
          margin-right: 8px;
        }
      }
    }
  }
}

@include mobile() {
  :host {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
  }

  .book {
    height: 100%;
    .book-content {
      flex-direction: column !important;

      .book-header {
        h2 {
          font-size: 1.125em;
        }
        h3 {
          font-size: 0.875em;
        }
      }
    }
  }
}
