<div class="book">
  <a [routerLink]="['./', book.id, 'details']">
    <img [src]="book.coverImage" [alt]="book.title" />
  </a>
  <div class="book-content">
    <a [routerLink]="['/books', book.id, 'details']" class="book-header link">
      <h2 class="mat-headline">{{ book.title }}</h2>
      <h3 class="mat-subheading-2">{{ book.author.name }}</h3>
    </a>
    <div class="action">
      <button
        mat-raised-button
        color="accent"
        (click)="onBuyPressed()"
        [disabled]="!canAddToCart"
        *ngIf="!isOwned && !isAdmin"
        title="Add to cart"
      >
        <ng-container *ngIf="canAddToCart">
          <mat-icon>add_shopping_cart</mat-icon>
          <span>{{ book.price > 0 ? (book.price | currency) : "Free" }}</span>
        </ng-container>
        <ng-container *ngIf="!canAddToCart">
          <mat-icon>done</mat-icon>
          <span>In cart</span>
        </ng-container>
      </button>
      <a
        mat-raised-button
        color="accent"
        [routerLink]="['/admin/management/books/edit', book.id]"
        *ngIf="isAdmin"
      >
        <mat-icon>edit</mat-icon>
        <span>
          Edit
        </span>
      </a>
    </div>
  </div>
</div>
